<div class="jumbotron">
  <div class="container">
      <h2>Peliculas</h2>
      
      <ul class="list-group mb-3 card-body overflow-auto" style="height: 200px;" #scrollMe  [scrollTop]="scrollMe">
        <li type="button" class="list-group-item d-flex justify-content-between lh-condensed elegido" *ngFor="let pelicula of listaPeliculas" (click)="SeSeleccionoPelicula(pelicula)">
            <div>
                <h6 class="my-0">{{pelicula.nombre}}</h6>
                
                <!-- <small class="text-muted">{{pais.region}}</small> -->
            </div>
            <!-- <img src="{{pais.flag}}" class="bandera" > -->
        </li>
      </ul>
  </div>
</div>

<!-- 
<ul>
  <li *ngFor= "let pelicula of listadoTabla">
      <span>{{pelicula.nombre}}</span>
      <button (click)="SeSeleccionoPelicula(pelicula)" class="btn btn-info" > Enviar</button>
  </li>
</ul> -->