<div class="container">
<form class="needs-validation" novalidate [formGroup]="forma" (ngSubmit)="nuevoActor()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
      <small class="invalid" *ngIf="forma.get('nombre').errors?.required && forma.get('nombre').touched">El nombre es requerido</small>
      <small class="invalid" *ngIf="forma.get('nombre').errors?.contieneEspacios && forma.get('nombre').touched">El nombre no puede tener espacios</small>
    </div>
    <div class="col-md-6 mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
      <small class="invalid" *ngIf="forma.get('apellido').errors?.required && forma.get('apellido').touched">El apellido es requerido</small>
    </div>
  </div>

  <!-- <div class="mb-3">
    <label for="username">Usuario</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="text" class="form-control" id="username" placeholder="Username" required>
      <div class="invalid-feedback" style="width: 100%;">
        Your username is required.
      </div>
    </div>
  </div> -->

  <div class="mb-3">
    <label for="email">Email <span class="text-muted">(Optional)</span></label>
    <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email">
    <small class="invalid" *ngIf="forma.get('email').errors?.required && forma.get('email').touched">El email es requerido</small>
    <small class="invalid" *ngIf="forma.get('email').errors?.email && forma.get('email').touched">El formato es invalido</small>
  </div>

  <div class="mb-3">
    <label for="direccion">Fecha de Nacimiento</label>
    <input type="date" class="form-control" id="fechaNacimiento" placeholder="Av. Mitre 650" formControlName="fechaNacimiento">
    <small class="invalid" *ngIf="forma.get('fechaNacimiento').errors?.required && forma.get('fechaNacimiento').touched">La fecha de nacimiento es requerida</small>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="pais">Pais</label>
      <input type="text" *ngIf="paisParaMostrar" class="form-control" id="pais" value="{{paisParaMostrar['name']}}" disabled>
      <!-- <small class="invalid" *ngIf="forma.get('pais').errors?.required">La dirección es requerida</small> -->
      <input type="text" *ngIf="!paisParaMostrar" class="form-control" placeholder="Seleccionar pais del listado" disabled>
      
    </div>

    

    <!-- <div class="col-md-4 mb-3">
      <label for="state">Provincia</label>
      <select class="custom-select d-block w-100" id="state" required>
        <option value="">Choose...</option>
        <option>Buenos Aires</option>
      </select>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div> -->
    <!-- <div class="col-md-3 mb-3">
      <label for="zip">Codigo Postal</label>
      <input type="text" class="form-control" id="zip" placeholder="" required>
      <div class="invalid-feedback">
        Codigo postal required.
      </div>
    </div> -->

  </div>


<!-- 
  <hr class="mb-4"> -->
<!--   
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="save-info">
    <label class="custom-control-label" for="save-info">Save this information for next time</label>
  </div> -->



  <!-- <hr class="mb-4"> -->

  <!-- <h4 class="mb-3">Payment</h4>

  <div class="d-block my-3">
    <div class="custom-control custom-radio">
      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
      <label class="custom-control-label" for="credit">Credit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="debit">Debit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="paypal">PayPal</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input type="text" class="form-control" id="cc-name" placeholder="" required>
      <small class="text-muted">Full name as displayed on card</small>
      <div class="invalid-feedback">
        Name on card is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" required>
      <div class="invalid-feedback">
        Credit card number is required
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">Expiration</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
      <div class="invalid-feedback">
        Expiration date required
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cc-cvv">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
      <div class="invalid-feedback">
        Security code required
      </div>
    </div>
  </div> -->
  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="forma.invalid">Dar el alta</button>
</form>
</div>